body {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("p1.png");
    background-color: rgb(170, 123, 123);
    margin-top: 15%;
    color: rgb(240, 255, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-container {
    margin-left: 20%;
    margin-right: 35%;
    padding: 2%;
}

h3 {
    margin: 1%;
}

span {
    color: chartreuse;
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

